*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --secondary-background-color: #2f303a;
  --another-background-color: #f5f4fa;
  --button-background-focus: #188ce8;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --footer-location-color: #ffffff99;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --border-color: #EEEEEE;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}
.list {
  list-style: none;
  display: flex;
  margin: 0 auto;
}
ul,
h1,
h2,
h3 {
  margin: 0 auto;
  padding: 0;
}
.container {
  width: 1200px;
}
.section {
  padding: 94px;
}

/* Хедер */

.header-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 24px 15px;
  align-items: center;
}
.header-site-nav {
  padding: 0;
  margin: 0;
}
.site-nav:not(:last-child) {
  margin-right: 50px;
}
.header-logo {
  margin-right: 93px;
}
.header-item {
  margin: 0;
  margin-left: 344px;
}
.logo {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.38;
  color: var(--primary-black-color);
}
.logo-first-word {
  color: var(--accent-color);
}
.header-link-nav {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.header-link-nav:hover,
.header-link-nav:focus {
  color: var(--accent-color);
}
.site-item:not(:last-child) {
  margin-right: 50px;
}
.header-link-item {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.header-link-item:hover,
.header-link-item:focus {
  color: var(--accent-color);
}
.header-link-nav.current {
  color: var(--accent-color);
}

/* Футер */
.page-footer {
  margin: 0 auto;
  padding: 60px 15px;
}
.footer-address {
  display: flex;
  flex-direction: column;
}
.footer-logo {
  margin-bottom: 20px;
}
.footer-link:not(:last-child) {
  margin-bottom: 9px;
}
.footer {
  background-color: var(--secondary-background-color);
}
.address {
  font-style: normal;
}
.logo-second-word {
  color: var(--primary-white-color);
}
.footer-link-location {
  text-decoration: none;
  line-height: 1.71;
  color: var(--primary-white-color);
}
.footer-link-item {
  text-decoration: none;
  line-height: 1.71;
  color: var(--footer-location-color);
}
.footer-link-location:hover,
.footer-link-location:focus {
  color: var(--accent-color);
}
.footer-link-item:hover,
.footer-link-item:focus {
  color: var(--accent-color);
}

/* index.html */
.hero-container {
  margin: 0 auto;
  padding: 200px 0;
  text-align: center;
}
.values-section {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.values-section-item:not(:last-child) {
  margin-right: 30px;
}
.activities-section {
  margin: 0 auto;
}
.main-content {
  padding-top: 0;
}
.activities-section-images {
  display: flex;
  justify-content: center;
}
.activity-image:not(:last-child) {
  margin-right: 30px;
}
.teammates-section {
  margin: 0 auto;
}
.teammates-list {
  display: flex;
  justify-content: center;
}
.team-member-card:not(:last-child) {
  margin-right: 30px;
}
.title {
  background-color: var(--secondary-background-color);
}

.hero-title {
  width: 696px;
  margin-bottom: 30px;

  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
}

.hero-button {
  padding: 10px 32px;
  margin: 0 auto;

  cursor: pointer;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--button-background-focus);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.post-title {
  margin-bottom: 50px;

  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--primary-text-color);
}
.subtitle {
  width: 270px;
  margin-bottom: 10px;

  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: var(--primary-text-color);
}
.text {
  width: 270px;
  margin: 0;

  line-height: 1.71;
  color: var(--secondary-text-color);
}
.team-section {
  background-color: var(--another-background-color);
}
.team-member-card {
  background-color: var(--primary-white-color);
}
.team-member-name {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  color: var(--primary-text-color);
}
.team-member-position {
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;

  font-size: 16px;
  line-height: 1.17;
  color: var(--secondary-text-color);
}

/* portfolio.html */
.button-section {
  width: 1200px;
  margin: 0 auto;
  padding: 94px 0 50px;

}
.button-item {
  margin: 0;
  padding: 0;
}
.button-list {
  display: flex;
  justify-content: center;
}
.button-item:not(:last-child) {
  margin-right: 8px;
}
.product-section {
  margin: 0 auto;
  padding-bottom: 64px;
}
.product-list {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-wrap: wrap;
}
.card-caption {
  padding: 19px 23px;
  border: 1px solid var(--border-color);
}

.product-list-item {
  margin: 0 auto;
  padding: 0;
  margin-right: 30px;
  margin-bottom: 30px;
}
.product-list-item-right-margin {
  margin: 0;
    margin-bottom: 30px;
}

.menu-button {
  padding: 6px 22px;

  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--another-background-color);
}
.menu-button:hover,
.menu-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.product-link {
  text-decoration: none;
}
.product-name {
margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.product-tag {
  margin: 0;

  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}
